body {
    background: linear-gradient(to bottom, #667db6, #0082c8, #0082c8, #667db6);
}

.input-field label {
    color: white;
}

.modal-title {
    font-size: 30px;
    font-weight: 400;
}

#success-modal {
    box-shadow: 0 0 4px 0 #4CAF50 !important;
}

#success-modal .modal-content p {
    font-size: 22px;
}