#no-appointments-left {
    display: none;
}

[draggable=true],
#bin {
    -khtml-user-drag: element;
    -webkit-user-drag: element;
    -khtml-user-select: none;
    -webkit-user-select: none;
    user-select: none;
}

#bin {
    text-align: center;
}

.extra-info,
.appointment-room {
    font-size: 20px;
}

.extra-info {
    font-style: italic;
}

.dragged-appointment {
    /* display: none; */
    transform: scale(0.6);
}

.mbox-wrapper {
    background: rgba(0, 0, 0, .8);
}

.mbox-wrapper-orange {
    background: rgba(240, 0, 1, .8);
}