#no-appointments-left {
    display: none;
}

body{
    overflow-x: hidden;
}

[draggable=true],
#bin {
    user-select: none;
    text-align: center;
}

.extra-info,
.appointment-room {
    font-size: 20px;
}

.extra-info {
    font-style: italic;
}

.mbox-wrapper {
    background: rgba(0, 0, 0, .8);
}

.mbox-wrapper-orange {
    background: rgba(240, 0, 1, .8);
}